@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Font Fascinate */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
/* Font family applied to .font-fascinate class */
.font-fascinate {
  font-family: 'Fascinate', cursive;
}

.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* Adjust the gutter size */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px; /* Adjust the gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 15px; /* Adjust the spacing between items */
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional for rounded images */
}
